html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'BigShouldersDisplay-Bold';
    src: url('../fonts/BigShouldersDisplay/BigShouldersDisplay-Bold.ttf');
    src: url('../fonts/BigShouldersDisplay/BigShouldersDisplay-Bold.ttf') format('ttf'),
        url('../fonts/BigShouldersDisplay/BigShouldersDisplay-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins/Poppins-SemiBold.otf');
    src: url('../fonts/Poppins/Poppins-SemiBold.otf') format('otf'),
        url('../fonts/Poppins/Poppins-SemiBold.otf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins/Poppins-Medium.otf');
    src: url('../fonts/Poppins/Poppins-Medium.otf') format('otf'),
        url('../fonts/Poppins/Poppins-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins/Poppins-Regular.otf');
    src: url('../fonts/Poppins/Poppins-Regular.otf') format('otf'),
        url('../fonts/Poppins/Poppins-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'Poppins-light';
    src: url('../fonts/Poppins/Poppins-Light.otf');
    src: url('../fonts/Poppins/Poppins-Light.otf') format('otf'),
        url('../fonts/Poppins/Poppins-Light.otf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins/Poppins-Bold.otf');
    src: url('../fonts/Poppins/Poppins-Bold.otf') format('otf'),
        url('../fonts/Poppins/Poppins-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Inter-Semibold';
    src: url('../fonts/Inter/Inter-SemiBold.ttf');
    src: url('../fonts/Inter/Inter-SemiBold.ttf') format('ttf'),
        url('../fonts/Inter/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter/Inter-Regular.ttf');
    src: url('../fonts/Inter/Inter-Regular.ttf') format('ttf'),
        url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
}

/* Header */
.title {
    font-family: BigShouldersDisplay-Bold;
}

.menubar {
    font-family: Poppins-Medium;
}

.typeWebsite {
    font-family: Poppins-Regular;
}

.slogan {
    font-family: Poppins-Semibold;
}

.subSlogan {
    font-family: Poppins-Regular;
}

.subSlogan span {
    font-family: Poppins-Bold;
}

.getStarted {
    font-family: Poppins-SemiBold;
}

.login {
    font-family: Poppins-Semibold;
}

.register, .logout {
    font-family: Poppins-Semibold;
}

/* Header */

/* Bacapres */
.bacapresTitle {
    font-family: Poppins-SemiBold;
}

.bacapresSubTitle {
    font-family: Poppins-Regular;
}

.bacapresSubTitle span {
    font-family: Poppins-Bold;
}

/* Bacapres */

/* Best Features */
.featuresTitle {
    font-family: Poppins-SemiBold;
}

.featuresSubTitle {
    font-family: Poppins-Regular;
}

.cardTitle {
    font-family: Poppins-SemiBold;
}

.descFeatures {
    font-family: Poppins-Regular;
}

.titlePopup {
    font-family: Poppins-semibold;
}

.descPopup {
    font-family: poppins-regular;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}
/* Best Features */

/* FAQ */
.faqTitle {
    font-family: Poppins-Semibold;
}

.faqSubTitle {
    font-family: Poppins-Regular;
}

.faqQuestion {
    font-family: poppins-regular;
}
/* FAQ */

/* Quote */
.quoteText {
    font-family: Poppins-Regular;
}

.quoteText span {
    font-family: Poppins-SemiBold;
}

/* Quote */

/* Footer */
.footerBackground {
    background: #6100FF;
    background: linear-gradient(38deg, #590f74 0%, rgb(37, 16, 117) 59%, #044f21 100%);
}

.footerTitle {
    font-family: BigShouldersDisplay-Bold;
}

.footerMenuBar {
    font-family: Poppins-SemiBold;
}
/* Footer */

/* Login & Register */
.welcomeText {
    font-family: Poppins-SemiBold;
}

.descWelcome {
    font-family: Poppins-Regular;
}

.email,
.password,
.confirmPassword,
.name {
    font-family: Poppins-Medium;
}

.backButton {
    font-family: Poppins-Bold;
}

.dontHaveAccount,
.haveAccount {
    font-family: Poppins-regular;
}
/* Login & Register*/

/* To Top */
.to-top {
    background: linear-gradient(38deg, #ce64fc 100%, rgb(123, 94, 239) 20%, #538bde 0%);
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
/* To Top */

/* Dashboard */
.textItem {
    font-family: poppins-medium;
}

.nameProfile {
    font-family: Poppins-semibold;
}

.statusProfile {
    font-family: poppins-regular;
}

.titleTotal {
    font-family: poppins-regular;
}

.countTotal {
    font-family: poppins-semibold;
}

.titleRanking,
.titleChart,
.titleTable,
.titleProfile {
    font-family: poppins-semibold;
}

.nameBakalCalon {
    font-family: poppins-regular;
}

.headerList,
.nomerTabel {
    font-family: Inter-Semibold;
}

.itemTabel {
    font-family: Inter-Regular;
}

.footerDashboard {
    font-family: poppins-regular;
}

.tokoh {
    font-family: poppins-bold;
}

.chooseChart, .choosePhoto {
    font-family: poppins-regular;
}
/* Dashboard */

/* User Management */
.titleUserManagement {
    font-family: poppins-medium;
}

.searchButton {
    font-family: poppins-light;
}

.namaProfile {
    font-family: poppins-semibold;
}

.activeRanking, .activeRanking:hover {
    background-color: rgb(99 102 241);
    color: #ffffff;
}

.activeTren {
    background-color: #ffffff;
    color: #1E1D4C;
}

.activePagination, .activePagination:hover {
    background-color: gray;
    color: #ffffff;
}

.nameBacapres {
    font-family: poppins-regular;
}





