{% extends 'base.html' %}

{% load static %}

{% block title %}
Bacapres Management
{% endblock %}

{% block content %}
<div class="pl-[280px] pr-6 pb-6 pt-24 ">
    <div class="flex flex-col gap-5">
        <!-- Start Header Bacapres Management -->
        <header class="bg-white py-6 px-10 rounded-xl h-fit">
            <div class="font-[poppins-medium] text-[40px] text-[#1E1D4C]">Bacapres Management</div>
            <hr class="border-[#C2C2C2] my-5">
            <div class="flex items-center justify-between mb-5">
                <form action="#" class="flex">
                    <div class='max-w-md'>
                        <div class="relative flex items-center w-full h-9 bg-white overflow-hidden border-2 border-[#C2C2C2] rounded-full">
                            <div class="grid place-items-center h-full w-12 text-gray-300">
                                <img class="h-5 w-5" src="{% static 'media/icons/search.svg' %}" alt="search">
                            </div>
                            <input class="h-full w-[232px] outline-none text-sm text-gray-700 pr-4 border-none border-transparent focus:border-transparent focus:ring-0" type="text" name="search" placeholder="Search" />
                        </div>
                    </div>
                    <button type="submit" class="font-[poppins-light] font-medium flex justify-center ml-5 h-[28px] py-[18px] px-8 text-[13px] items-center bg-[#7B5BFF] hover:bg-[#7054E0] text-white rounded-full tracking-wide cursor-pointer transition-all duration-500">Search</button>
                </form>
                <div class="flex gap-5 ml-6">
                    <a href="{% url 'createBacapres' %}"><button class="font-medium text-sm bg-[#7B5BFF] hover:bg-[#7054E0] text-[13px] px-10 py-3 rounded-lg text-white transition-all duration-500">Create</button></a>
                    <a href="#"><button class="font-medium text-sm bg-red-600 hover:bg-red-500 text-[13px] px-10 py-3 rounded-lg text-white transition-all duration-500">Delete All</button></a>
                </div>
            </div>
        </header>
        <!-- Start Header Bacapres Management -->
        <section class="bg-white p-6 rounded-xl h-fit">
            <div class="relative overflow-x-auto">
                <!-- Start Table Bacapres Management -->
                <table class="w-full text-sm text-left text-gray-500 mb-5">
                    <thead class="text-xs text-gray-700 uppercase border-b">
                        <tr>
                            <th scope="col" class="font-[Inter-Semibold] text-[12px] px-6 py-3 text-center">
                                No
                            </th>
                            <th scope="col" class="font-[Inter-Semibold] text-[12px] mx-36 py-3 text-center">
                                Photo
                            </th>
                            <th scope="col" class="font-[Inter-Semibold] text-[12px] px-3 py-3 text-center">
                                Name Bacapres
                            </th>
                            <th scope="col" class="font-[Inter-Semibold] text-[12px] py-3 text-center">
                                Delete
                            </th>
                            <th scope="col" class="font-[Inter-Semibold] text-[12px] px-6 py-3 text-center">
                                Edit
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table-body"></tbody>
                </table>
                <!-- End Table Bacapres Management -->
            </div>
            <!-- Start Pagination -->
            <div class="flex items-center justify-end">
                <div class="items-center">
                    <div class="pagination">
                        <button id="prev-button" class="font-[Inter-Regular] px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-400 hover:text-white">Prev</button>
                        <span id="page-buttons"></span>
                        <button id="next-button" class="font-[Inter-Regular] px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-400 hover:text-white">Next</button>
                    </div>
                </div>
            </div>
            <!-- End Pagination -->
        </section>
        <!-- Start Footer Bacapres Management -->
        <footer class="font-[poppins-regular] text-[12px] text-[#1E1D4C] ml-5 mr-5 flex justify-end">
            Sentigov24 | Website Sentiment Analysis Bakal Calon Presiden
        </footer>
        <!-- End Footer Bacapres Management -->
    </div>
</div>
<script defer src="{% static 'js/scriptsBacapres.js' %}"></script>
{% endblock %}