{% extends 'base.html' %}

{% load static %}

{% block title %}
Bacapres Management
{% endblock %}

{% block content %}
<div class="pl-[280px] pr-6 pb-6 pt-24 ">
    <div class="flex flex-col gap-5">
        <div class="bg-white py-6 px-10 rounded-xl h-fit">
            <div class="titleUserManagement text-[40px] text-[#1E1D4C]">Bacapres Management</div>
            <hr class="border-[#C2C2C2] my-5"/>
            <div class="flex items-center justify-between mb-5">
                <form action="#" class="flex">
                    <div class='max-w-md'>
                        <div
                            class="relative flex items-center w-full h-9 bg-white overflow-hidden border-2 border-[#C2C2C2] rounded-full">
                            <div class="grid place-items-center h-full w-12 text-gray-300">
                                <img class="h-5 w-5" src="{% static 'media/icons/search.svg' %}" alt="">
                            </div>
                            <input class="peer h-full w-[232px] outline-none text-sm text-gray-700 pr-4" type="text"
                                name="search" placeholder="Search" />
                        </div>
                    </div>
                    <button type="submit"
                        class="SearchButton font-medium flex justify-center ml-5 h-[28px] py-[18px] px-8 text-[13px] items-center bg-[#7B5BFF] hover:bg-[#7054E0] text-white rounded-full tracking-wide cursor-pointer transition-all duration-500">
                        Search
                    </button>
                </form>
                <div class="ml-6">
                    <a href="#"><button
                            class="font-medium text-sm bg-[#7B5BFF] hover:bg-[#7054E0] text-[13px] px-10 py-3 rounded-lg text-white transition-all duration-500">Create</button></a>
                </div>
            </div>
        </div>
        <div class="bg-white p-6 rounded-xl h-fit">
            test
        </div>
    </div>
</div>
{% endblock %}