{% extends 'base.html' %}

{% load static %}

{% block title %}
History
{% endblock %}

{% block content %}
<div class="pl-[280px] pr-6 pb-6 pt-24 ">
    <div class="flex flex-col gap-5">
        <div class="bg-white py-6 px-10 rounded-xl h-fit">
            <div class="titleUserManagement text-[40px] text-[#1E1D4C]">History</div>
            <hr class="border-[#C2C2C2] my-5" />
            <form action="#" class="flex">
                <div class='max-w-md'>
                    <div
                        class="relative flex items-center w-full h-9 mb-5 bg-white overflow-hidden border-2 border-[#C2C2C2] rounded-full">
                        <div class="grid place-items-center h-full w-12 text-gray-300">
                            <img class="h-5 w-5" src="{% static 'media/icons/search.svg' %}" alt="search">
                        </div>
                        <input class="h-full w-[232px] outline-none text-sm text-gray-700 pr-4 border-none border-transparent focus:border-transparent focus:ring-0" type="text"
                            name="search" placeholder="Search" />
                    </div>
                </div>
                <button type="submit"
                    class="SearchButton flex font-medium justify-center ml-5 h-[28px] py-[18px] px-8 text-[13px] items-center bg-[#7B5BFF] hover:bg-[#7054E0] text-white rounded-full tracking-wide cursor-pointer transition-all duration-500">
                    Search
                </button>
            </form>
        </div>
        <div class="bg-white p-6 rounded-xl h-fit">
            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase border-b">
                        <tr>
                            <th scope="col" class="headerList text-[12px] px-6 py-3 text-center">
                                No
                            </th>
                            <th scope="col" class="headerList text-[12px] mx-36 py-3 text-center">
                                Bacapres
                            </th>
                            <th scope="col" class="headerList text-[12px] px-3 py-3 text-center">
                                Start Date
                            </th>
                            <th scope="col" class="headerList text-[12px] py-3 text-center">
                                End Date
                            </th>
                            <th scope="col" class="headerList text-[12px] px-6 py-3 text-center">
                                Delete
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b">
                            <th scope="row" class="nomerTabel text-[12px] px-6 py-4 text-center font-medium text-gray-900">
                                1
                            </th>
                            <td class="itemTabel text-[12px] text-black mx-10 py-4 whitespace-nowrap text-center">
                                Ganjar Pranowo, Prabowo Subianto
                            </td>
                            <td class="itemTabel text-[12px] text-black px-10 py-4 whitespace-nowrap text-center">
                                Member
                            </td>
                            <td class="itemTabel text-[12px] py-4  ">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                            <td class="itemTabel text-[12px] px-6 py-4">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                        </tr>
                        <tr class="border-b">
                            <th scope="row" class="nomerTabel text-[12px] px-6 py-4 font-medium text-center text-gray-900">
                                2
                            </th>
                            <td class="itemTabel text-[12px] text-black mx-10 py-4 whitespace-nowrap text-center">
                                Anies Baswedan, Ganjar Pranowo, Puan Maharani
                            </td>
                            <td class="itemTabel text-[12px] text-black px-10 py-4 whitespace-nowrap text-center">
                                Member
                            </td>
                            <td class="itemTabel text-[12px] py-4 ">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                            <td class="itemTabel text-[12px] px-6 py-4">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                        </tr>
                        <tr class="border-b">
                            <th scope="row" class="nomerTabel text-[12px] px-6 py-4 font-medium text-center text-gray-900">
                                3
                            </th>
                            <td class="itemTabel text-[12px] text-black mx-10 py-4 whitespace-nowrap text-center">
                                Airlangga Hartanto, Anies Baswedan, Puan Maharani
                            </td>
                            <td class="itemTabel text-[12px] text-black px-10 py-4 whitespace-nowrap text-center">
                                Member
                            </td>
                            <td class="itemTabel text-[12px] py-4 ">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                            <td class="itemTabel text-[12px] px-6 py-4">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                        </tr>
                        <tr class="border-b">
                            <th scope="row" class="nomerTabel text-[12px] px-6 py-4 font-medium text-center text-gray-900">
                                4
                            </th>
                            <td class="itemTabel text-[12px] text-black mx-10 py-4 whitespace-nowrap text-center">
                                Airlangga Hartanto, Anies Baswedan, Ridwan Kamil
                            </td>
                            <td class="itemTabel text-[12px] text-black px-10 py-4 whitespace-nowrap text-center">
                                Administrator
                            </td>
                            <td class="itemTabel text-[12px] py-4 ">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                            <td class="itemTabel text-[12px] px-6 py-4">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                        </tr>
                        <tr class="border-b">
                            <th scope="row" class="nomerTabel text-[12px] px-6 py-4 font-medium text-center text-gray-900">
                                5
                            </th>
                            <td class="itemTabel text-[12px] text-black mx-10 py-4 whitespace-normal text-center">
                                Agus Harimurti Yudhoyono, Airlangga Hartanto, Anies Baswedan, Erick Thohir, Ganjar Pranowo, Khofifah Indar Parawansa, Prabowo Subianto, Puan Maharani, Ridwan Kamil, Sandiaga Uno
                            </td>
                            <td class="itemTabel text-[12px] text-black px-10 py-4 whitespace-nowrap text-center">
                                Administrator
                            </td>
                            <td class="itemTabel text-[12px] py-4 ">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                            <td class="itemTabel text-[12px] px-6 py-4 ">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                        </tr>
                        <tr class="border-b">
                            <th scope="row" class="nomerTabel text-[12px] px-6 py-4 font-medium text-center text-gray-900">
                                6
                            </th>
                            <td class="itemTabel text-[12px] text-black mx-10 py-4 whitespace-nowrap text-center">
                                Lorem Ipsum
                            </td>
                            <td class="itemTabel text-[12px] text-black px-10 py-4 whitespace-nowrap text-center">
                                Administrator
                            </td>
                            <td class="itemTabel text-[12px] py-4 ">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                            <td class="itemTabel text-[12px] px-6 py-4 ">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                        </tr>
                        <tr class="border-b">
                            <th scope="row" class="nomerTabel text-[12px] px-6 py-4 font-medium text-center text-gray-900">
                                7
                            </th>
                            <td class="itemTabel text-[12px] text-black mx-10 py-4 whitespace-nowrap text-center">
                                Lorem Ipsum
                            </td>
                            <td class="itemTabel text-[12px] text-black px-10 py-4 whitespace-nowrap text-center">
                                Administrator
                            </td>
                            <td class="itemTabel text-[12px] py-4 ">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                            <td class="itemTabel text-[12px] px-6 py-4 ">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                        </tr>
                        <tr class="border-b">
                            <th scope="row" class="nomerTabel text-[12px] px-6 py-4 font-medium text-center text-gray-900">
                                8
                            </th>
                            <td class="itemTabel text-[12px] text-black mx-10 py-4 whitespace-nowrap text-center">
                                Lorem Ipsum
                            </td>
                            <td class="itemTabel text-[12px] text-black px-10 py-4 whitespace-nowrap text-center">
                                Administrator
                            </td>
                            <td class="itemTabel text-[12px] py-4 ">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                            <td class="itemTabel text-[12px] px-6 py-4 ">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                        </tr>
                        <tr class="border-b">
                            <th scope="row" class="nomerTabel text-[12px] px-6 py-4 font-medium text-center text-gray-900">
                                9
                            </th>
                            <td class="itemTabel text-[12px] text-black mx-10 py-4 whitespace-nowrap text-center">
                                Lorem Ipsum
                            </td>
                            <td class="itemTabel text-[12px] text-black px-10 py-4 whitespace-nowrap text-center">
                                Administrator
                            </td>
                            <td class="itemTabel text-[12px] py-4 ">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                            <td class="itemTabel text-[12px] px-6 py-4 ">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="nomerTabel text-[12px] px-6 py-4 font-medium text-center text-gray-900">
                                10
                            </th>
                            <td class="itemTabel text-[12px] text-black mx-10 py-4 whitespace-nowrap text-center">
                                Lorem Ipsum
                            </td>
                            <td class="itemTabel text-[12px] text-black px-10 py-4 whitespace-nowrap text-center">
                                Administrator
                            </td>
                            <td class="itemTabel text-[12px] py-4 ">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                            <td class="itemTabel text-[12px] px-6 py-4 ">
                                <a class="flex justify-center" href="#"><img src="{% static 'media/icons/btn-delete.svg' %}" alt="Delete"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex items-center justify-end">
                <div class="items-center">
                    <a href="#"
                        class="tableActive px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-400 hover:text-white">1</a>
                    <a href="#"
                        class="px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-400 hover:text-white">2</a>
                    <a href="#"
                        class="px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-400 hover:text-white">3</a>
                    <a href="#" class="px-2 py-1 text-sm text-gray-500 rounded-md">...</a>
                    <a href="#"
                        class="px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-400 hover:text-white">12</a>
                    <a href="#"
                        class="px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-400 hover:text-white">13</a>
                    <a href="#"
                        class="px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-400 hover:text-white">14</a>
                </div>
            </div>
        </div>
        <div class="footerDashboard text-[12px] text-[#1E1D4C] ml-5 mr-5 flex justify-end">
            Sentigov24 | Website Sentiment Analysis Bakal Calon Presiden
        </div>
    </div>
</div>
{% endblock %}