<h1>Sign Up Below</h1>
{% if registered %}
      Registrasi berhasil
{% endif %}
<form method="POST" action="register" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Username:</p>
    <input type="text" name="username" />
    <p>Email:</p>
    <input type="email" name="email" />
    <p>Password:</p>
    <input type="password" name="password1" />
    <p>Confirm Password:</p>
    <input type="password" name="password2" />
    <p></p>
    <input type="file" name="avatar" id="avatar"></p>
    <input type="submit" />
</form>