{% extends 'base.html' %}

{% load static %}

{% block title %}
History
{% endblock %}

{% block content %}
<div class="pl-[280px] pr-6 pb-6 pt-24">
    <div class="flex flex-col gap-5">
        <!-- Start Header History -->
        <header class="bg-white py-6 px-10 rounded-xl h-fit">
            <div class="font-[poppins-medium] text-[40px] text-[#1E1D4C]">History</div>
            <hr class="border-[#C2C2C2] my-5">
            <div class="flex items-center justify-between mb-5">
                <!-- <form action="#" method="#"> -->
                    <div class="max-w-sm">
                        <div class="relative flex items-center h-9 mb-5 bg-white overflow-hidden border-2 border-[#C2C2C2] rounded-full">
                            <div class="grid place-items-center h-full w-12 text-gray-300">
                                <img class="h-5 w-5" src="{% static 'media/icons/search.svg' %}" alt="search">
                            </div>
                            <input id="searchQuery" class="h-full w-full outline-none text-sm text-gray-700 pr-4 border-none border-transparent focus:border-transparent focus:ring-0" type="text" name="search" placeholder="Search" />
                        </div>
                    
                        <div class="flex text-center">
                            <!-- Date Picker -->
                            <div date-rangepicker class="flex items-center gap-5">
                                <div class="relative flex items-center h-9 mb-5 bg-white overflow-hidden border-2 border-[#C2C2C2] rounded-full">
                                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                        <img src="{% static 'media/icons/calender.svg' %}" alt="calender">
                                    </div>
                                    <input type="text" class="text-gray-900 border-none border-transparent focus:border-transparent focus:ring-0 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5" placeholder="Select date start">
                                </div>
                                <div class="relative flex items-center h-9 mb-5 bg-white overflow-hidden border-2 border-[#C2C2C2] rounded-full">
                                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                        <img src="{% static 'media/icons/calender.svg' %}" alt="calender">
                                    </div>
                                    <input type="text" class="text-gray-900 border-none border-transparent focus:border-transparent focus:ring-0 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5" placeholder="Select date end">
                                </div>
                                <!-- Date Picker -->
                            </div>
                            <div>
                                <button onclick="getDataHistory(1)" class="font-[poppins-light] flex font-medium justify-center ml-5 h-[28px] py-[18px] px-8 text-[13px] items-center bg-[#7B5BFF] hover:bg-[#7054E0] text-white rounded-full tracking-wide cursor-pointer transition-all duration-500">Search</button>
                            </div>
                        </div>
                    </div>
                <!-- </form> -->
                <div class="ml-6">
                    <a href="#"><button id="deleteAllHistory" class="font-medium text-sm bg-red-600 hover:bg-red-500 text-[13px] px-10 py-3 rounded-lg text-white transition-all duration-500">Delete All</button></a>
                </div>
            </div>
        </header>
        <!-- End Header History -->
        <section class="bg-white p-6 rounded-xl h-fit">
            <div class="relative overflow-x-auto">
                <!-- Start Table -->
                <table class="w-full text-sm text-left text-gray-500 mb-5">
                    <thead class="text-xs text-gray-700 uppercase border-b">
                        <tr>
                            <th scope="col" class="font-[Inter-Semibold] text-[12px] px-6 py-3 text-center">
                                No
                            </th>
                            <th scope="col" class="font-[Inter-Semibold] text-[12px] mx-20 py-3 text-center">
                                Bacapres
                            </th>
                            <th scope="col" class="font-[Inter-Semibold] text-[12px] px-3 py-3 text-center">
                                Start Date
                            </th>
                            <th scope="col" class="font-[Inter-Semibold] text-[12px] py-3 text-center">
                                End Date
                            </th>
                            <th scope="col" class="font-[Inter-Semibold] text-[12px] px-6 py-3 text-center">
                                Delete
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table-body"></tbody>
                    </tbody>
                </table>
                <!-- End Table -->
            </div>
            <!-- Start Pagination -->
            <div class="flex items-center justify-end">
                <div class="items-center">
                    <div class="pagination">
                        <button id="prev-button" class="font-[Inter-Regular] px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-400 hover:text-white">Prev</button>
                        <span id="page-buttons"></span>
                        <button id="next-button" class="font-[Inter-Regular] px-2 py-1 text-sm text-gray-500 rounded-md hover:bg-gray-400 hover:text-white">Next</button>
                    </div>
                </div>
            </div>
            <!-- End Pagination -->
        </section>
        <!-- Start Footer -->
        <footer class="font-[poppins-regular] text-[12px] text-[#1E1D4C] ml-5 mr-5 flex justify-end">
            Copyright &#169; 2023, KoTA 105
        </footer>
        <!-- End Footer -->
    </div>
</div>
<script defer src="{% static 'js/scriptsHistory.js' %}?v={{ STATICFILES_TIMESTAMP }}"></script>
{% endblock %}